.wrapper {
    padding: 2rem;
}

.cookie-container {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background: #333333;
    color: #ffffff;
    padding: 0 32px;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
    z-index: 1;
    font-size: 1rem;

    transition: 400ms;
}

.cookie-container.active {
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cookie-container>p {
    margin-top: .5rem;
}

.cookie-container a {
    color: #ffd200;
    font-size: 1rem;
}

.cookie-btn {
    margin-top: .8rem;
    background: #ffd200;
    border: 0;
    color: #333333;
    padding: .5rem .8rem;
    font-size: 1rem;
    margin-bottom: .8rem;
    border-radius: .2rem;
    cursor: pointer;
}




.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: var(--gap);
}

.page-header h1 {
    font-size: 40px;
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px;
}

.pagination .next {
    margin-inline-start: auto;
}

.social-icons {
    padding: 12px 0;
}

.social-icons a:not(:last-of-type) {
    margin-inline-end: 12px;
}

.social-icons a svg {
    height: 26px;
    width: 26px;
}

code {
    direction: ltr;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}